{% extends "base.html" %} {% block content %}

<main class="mt-5 pt-4">
  <div class="container white-grey-text mt-5">
    <!--Grid row-->
    <div
      class="row wow fadeIn"
      style="background-color: rgba(250, 250, 250, 0.7)"
    >
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="{{ item.image.url }}" class="img-fluid" alt="" style="margin-top:50px" />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1"
                >{{ object.get_category_display }}</span
              >
            </a>
          </div>

          <p class="lead">
            {% if object.discount_price %}
            <span class="mr-1">
              <del>Rs{{ object.price }}</del>
            </span>
            <span>Rs{{ object.discount_price }}</span>
            {% else %}
            <span>Rs{{ object.price }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>

          {% comment %}
          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input
              type="number"
              value="1"
              aria-label="Search"
              class="form-control"
              style="width: 100px"
            />
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </form>
          {% endcomment %}
          <a
            href="{{ object.get_add_to_cart_url }}"
            class="btn btn-primary btn-md my-0 p"
          >
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a
            href="{{ object.get_remove_from_cart_url }}"
            class="btn btn-danger btn-md my-0 p"
          >
            Remove from cart
          </a>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <hr />

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn" style="background-color: rgba(250, 250, 250, 0.7)">
      <!--Grid column-->
      <div class="col-md-6 text-center">
        <h4 class="my-4 h4">Check out these trending instagram bookstores</h4>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn" style="margin-top:20px;">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <a
          href="https://www.instagram.com/accounts/login/?next=/tatteredcoverbookstore/"
        >
          <img
            src="https://imgix.bustle.com/uploads/image/2017/9/21/c41cf48e-18c8-4796-abfe-6b903a5c6822-21879375_1186751088125435_3864447780067999744_n.jpg?w=414&h=358&fit=crop&crop=faces&auto=format%2Ccompress&q=50&dpr=2"
            class="img-fluid"
            alt=""
          />
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://www.instagram.com/nationalbookstore/">
          <img
            src="https://imgix.bustle.com/uploads/image/2017/9/21/87029ab0-8699-451e-91fb-4cad68cf3cc8-18581177_103831120208813_3544807869993975808_n.jpg?w=414&h=414&fit=crop&crop=faces&auto=format%2Ccompress&q=50&dpr=2"
            class="img-fluid"
            alt=""
          />
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="https://www.instagram.com/politicsprose/">
          <img
            src="https://imgix.bustle.com/uploads/image/2017/9/21/0d541c0e-c1b4-4b47-8497-f3c819df2cc2-20482308_1392978714118733_9091828729155420160_n.jpg?w=414&h=414&fit=crop&crop=faces&auto=format%2Ccompress&q=50&dpr=2"
            class="img-fluid"
            alt=""
          />
        </a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>

{% endblock content %}
